body {
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    color: #3a3a3a;
}

nav {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background-color: #24292e;
    margin: 0;
    padding: 0;
}

.link-type1 {
    text-decoration: none;
    color: #0366d6;
}

.link-type1:hover {
    text-decoration: underline;
}

.link-type2 {
    text-decoration: none;
    color: #24292e;
}

.link-type2:hover {
    color: #0366d6;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: #fafafa;
    margin: 0 10px;
}

/* .nav-link, a:hover {
    text-decoration: none;
    color: #bdbdbd;
} */

.link-list {
    display: flex;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
}

.fas {
    font-size: 18px;
}

.nav-img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

.nav-link:hover {
    color: #c3c3c3;
}

.fa-caret-down {
    margin-left: 5px;
}

.ssk {
    margin: 0;
}

.ssk-github {
    color: #fafafa;
}

.ssk:before, .ssk .glyphicon, .ssk .fa {
    font-size: 40px;
}

.ssk.ssk-icon:hover {
    color:#cacaca
}

.ssk.ssk-icon {
    color: #fafafa;
    padding: 14px;
}

input {
    height: 18px;
    width: 270px;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    color: #fafafa;
    background-color: #3d3d3d;
    padding: 6px;
}

.input-icon {
    margin: 0;
    color: #616161;
    position: absolute;
    padding: 2px;
    width: 16px;
    left: 320px;
    border: 1px solid #616161;
    border-radius: 3px;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    margin: 24px 16px;
}
aside {
    margin: 0 28px 0 0;
}
.pic-status {
    border: 1px solid #dddddd; 
    border-radius: 4px;
}

.profile-pic {
    width: 270px;
    height: 100%;
}

.status {
    color: #4b4b4b;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 12px;
}

.fa-laugh {
    font-size: 22px;
    margin-right: 14px; 
}

.name {
    font-size: 27px;
    font-weight: bold;
    margin: 20px 0px 4px;
}

.user {
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

.btn1 {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    margin: 26px 0px;
}

.fa-map-marker-alt {
    margin: 0 8px 0 0;
}

section {
    padding: 0 22px; 
    width: 900px;
}

.section-nav {
    font-size: 14px;
    display: flex;
    height: 50px;
    border-bottom: 1px solid;
    border-bottom-color: #dadada;
}

.sec-nav-num {
    background-color: #ebebeb;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 20px;
}

.section-nav a {
    text-decoration: none;
    color: #24292e;
}

.section-link {
    padding: 15px;
    margin-right: 10px;
}

.section-link.home {
    font-weight: bold;
    border-bottom: 3px solid;
    border-bottom-color: #e36209;
}

.section-link:hover {
    border-bottom: 3px solid;
    border-bottom-color: #dadada;
}

.pinned {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    padding: 0;
}

.left-text {
    margin: 20px 0 10px;
}

.right-text {
    font-size: 14px;
    margin: 20px 0 10px;
}

.boxes {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.pin-specs {
    position: absolute;
    bottom: 20px;
}

.box1 {
    position: relative;
    width: 440px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    margin-right: 16px;
    padding: 20px;
    justify-content: end;
    color: #4b4b4b
}

.fa-book {
    margin-right: 6px;
}

.fa-circle {
    color: #e6e217;
}

.fa-code-branch {
    margin-left: 22px;
    margin-right: 4px;
}

.fa-bars {
    font-size: 14px;
    position: absolute;
    padding: 7px;
    top: 16px;
    right: 16px;
    cursor: grab;
}

.box2 {
    position: relative;
    width: 440px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    padding: 20px;
    color: #4b4b4b;
}

.contribs-top-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contrib-box {
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    width: 100%;
    height: 210px;
}

.activity-section {

}
